<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HttpTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HttpTest.Properties.Settings>
            <setting name="UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>300, 300</value>
            </setting>
        </HttpTest.Properties.Settings>
    </userSettings>
</configuration>